* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  /* gap: 40px; */
  min-height: 100vh;
}

.row {
  display: flex;
}

.square {
  padding: 40px;
  width: 150px;
  height: 150px;
  font-weight: 700;
  font-size: 24px;
}

.board {
  display: flex;
  flex-direction: column;
}
