body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.board {
  width: 350px;
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
}

.row button {
  flex: 1;
  height: 70px;
  font-size: 23px;
}
